* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: beige;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;


}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    justify-items: center;
    margin: 10px;
}

nav ul {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    padding: 10px;
    color: #000;
    font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
}

main {
    width: 80%;

    margin: 0 auto;
    background-color: aliceblue;

}